@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Francois+One&display=swap');

video {
    position: relative;
    object-fit: cover;
    width: 100vw;
    height: 60vh;
}

.hero .hero-container {
    bottom: 25%;
    position: absolute;
    text-align: center;
    width: 100%;
    padding: 1rem;
}


.animated-text {
    font-size: 2em;
    opacity: 0;
    transform: translateY(50px);
    animation: fadeInUp 1.5s forwards;
  }
  
  @keyframes fadeInUp {
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }





.hero h1 {

    font-size: 6rem;
    text-align: center;
    color: white;
    font-family: 'Francois One', sans-serif;
    letter-spacing: 2px;
}

.hero h2 {
    font-size: 2rem;
    color: white;
    letter-spacing: 3px;
}

.hero-container p {
    font-size: 3rem;
    color:rgba(243, 237, 237, 0.849);
    font-family: 'Cookie', cursive;
}

.hero .hero-btn button {
    cursor: pointer;
    border-radius: 5px;
    border: none;
    background-color: #1a6d0fbd;
}

.hero-btn {
    padding: 0;
}

.hero .hero-btn button:hover {
  color: var(--primary-color);
  background-color: rgb(241, 242, 245);
}



/* MEDIA QUERIES */

@media screen and (max-width:940px) {

    .hero h1 {
    font-size: 3.2rem;
    }

    .hero p {
        font-size: 2rem;
    }

}


@media screen and (max-width:500px) {

    .hero h1 {
        font-size: 3rem;
    }
    
    .hero p {
        font-size: 2rem;
    }

    .hero h2 {
        font-size: .8rem;
        color: white;
    }
    

    }
    